@model Fasting.Models.Rhythm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rhythm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <select id="Start" asp-for="StartTime">
                    @for (int i = 1; i < 25; i++)
                    {
                        <option value="@DateTime.Now.ToString($"MM/dd/yyyy {i}:00")">@i:00</option>
                    })
                </select>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input id="End" asp-for="EndTime" type="text" value="" disabled />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    // Format end time
    let formatEndTime = (endTime) => {
        var endDate = endTime.getDate();
        endDate = ("0" + endDate).slice(-2);
        var endMonth = endTime.getMonth();
        endMonth = ("0" + endMonth).slice(-2);
        var endHours = endTime.getHours();
        endHours = ("0" + endHours).slice(-2);
        var endMinutes = endTime.getMinutes();
        endMinutes = ("0" + endMinutes).slice(-2);
        var endYear = endTime.getFullYear();
        var formattedDate = `${(endMonth)}/${endDate}/${endYear} ${endHours}:${endMinutes}`;
        return formattedDate;
        //var finalDate = new Date(Date.parse(formattedDate));
        //console.log(finalDate);
    }

    var circadian = 3;
    var start = document.getElementById("Start");
    var startTime = start.value;
    var date = new Date(Date.parse(startTime));

    var end = document.getElementById("End");
    var endTime = new Date(date.setHours(date.getHours() + circadian));
    end.value = formatEndTime(endTime);

    start.addEventListener('click', e => {
        var startTime = start.value;
        var endTime = new Date(Date.parse(startTime));
        endTime.setHours(endTime.getHours() + circadian);
        endTime.setMonth(endTime.getMonth() + 1);
        end.value = formatEndTime(endTime);
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
