@model Fasting.Models.Rhythm

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Fasting Timer</h1>
    <p class="lead">Welcome! Let us tell you what your fast will look like!</p>
    <hr class="my-4">
    <p>Choose the links below to create your first timer or see what you already have going on.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Rhythm/Create" role="button">Get Started!</a>
        <a class="btn btn-primary btn-lg" href="/Rhythm/Index" role="button">View Timers</a>
    </p>
</div>